<!--
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользовательские данные</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <h1>Ваши данные:</h1>
    <div class="card">
        <div class="card-body">
            <p class="card-text">
                First name: <span th:text="${user.firstName}"></span><br>
                Second name: <span th:text="${user.lastName}"></span><br>
                Email: <span th:text="${user.email}"></span><br>
                Телефон: <span th:text="${user.phoneNumber}"></span><br>
                Адрес: <span th:text="${user.address}"></span><br>
                Статус: <span th:text="${user.roles}"></span>
            </p>
            <a href="/logout" class="btn btn-danger">Выйти</a>
        </div>
    </div>
</div>
</body>
</html>-->
