<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Список пользователей</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .title {
            position: fixed;
            top: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: dimgrey;
            padding: 10px;
        }

        .text-block {
            font-size: 20px;
            color: white;
            padding: 5px;
            display: flex;
            align-items: center;
        }

        .text-block-button {
            font-size: 20px;
            color: white;
            padding: 5px 20px;
            text-decoration: none;
            background-color: transparent;
            border: none;
            cursor: pointer;
            transition: color 0.3s ease;
        }

        body {
            margin-top: 60px;
        }

        .text-block-button:hover {
            color: #ffcc00;
        }

        .title-table th {
            font-size: 25px;
            background-color: whitesmoke !important;
            color: black;
            text-align: left;
            padding: 10px 10px;
        }

        .sidebar {
            background-color: grey;
            color: white;
            font-size: 20px;
            height: 100vh;
            width: 15%;
        }

        .sidebar-links {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 5px 0px;
        }

        .container-fluid {
            padding: 10px 20px;
        }

        .custom-nav-button {
            background-color: transparent;
            color: white;
            text-align: left;
            transition: color 0.3s ease;
        }

        .custom-nav-button:hover {
            color: darkseagreen;
        }

        .custom-nav-button.active {
            background-color: darkseagreen !important;
            color: white;
        }


    </style>
</head>
<body>
<!-- Заголовок -->
<div class="title">
    <div class="text-block">
        <span th:text="${userTitle.email}">test</span> &nbsp;with roles:&nbsp; <span
            th:text="${userTitle.roles}">test</span>
    </div>
    <a href="/logout" class="text-block-button">Выйти</a>
</div>
<!-- Боковая панель -->
<div class="d-flex">
    <div class="sidebar col-3">
        <div class="sidebar-links">
            <!-- Вкладки боковой панели -->
            <ul class="nav nav-pills nav-fill flex-column" id="roleTabs" role="tablist">
                <li class="nav-item" role="presentation" th:if="${isAdminRole}">
                    <button class="nav-link active custom-nav-button" id="admin-tab" data-bs-toggle="tab"
                            data-bs-target="#admin-content"
                            type="button" role="tab" aria-controls="admin-content" aria-selected="true">ADMIN
                    </button>
                </li>
                <li class="nav-item" role="presentation" th:if="${isUserRole}">
                    <button class="nav-link custom-nav-button" id="user-tab" data-bs-toggle="tab"
                            data-bs-target="#user-content" type="button"
                            role="tab" aria-controls="user-content" aria-selected="false">USER
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <!-- Основная страница -->
    <div class="container-fluid">
        <!-- Наполнение вкладок боковой панели -->
        <div class="tab-content" id="roleTabContent">
            <!-- Вкладка админа -->
            <div class="tab-pane fade show active" id="admin-content" role="tabpanel"
                 aria-labelledby="admin-tab">
                <!-- Вкладки основной страницы -->
                <ul class="nav nav-tabs" id="adminTabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="users-tab" data-bs-toggle="tab" data-bs-target="#users"
                                type="button" role="tab" aria-controls="users" aria-selected="true">Пользователи
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="add-user-tab" data-bs-toggle="tab" data-bs-target="#add-user"
                                type="button"
                                role="tab" aria-controls="add-user" aria-selected="false">Добавить пользователя
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="usersTabContent">
                    <!-- Наполнение первой вкладки с пользователями -->
                    <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
                        <div th:if="${error}" class="alert alert-danger" th:text="${error}" id="passwordsModal"></div>
                        <table class="table table-bordered">
                            <thead>
                            <h1>User's information-page</h1>
                            <tr class="title-table">
                                <th colspan="8">Ваши данные:</th>
                            <tr>
                                <th>#</th>
                                <th>Имя</th>
                                <th>Фамилия</th>
                                <th>Email</th>
                                <th>Телефон</th>
                                <th>Возраст</th>
                                <th>Роль</th>
                                <th>Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user, stat : ${user_list}">
                                <td th:text="${stat.index + 1}">1</td>
                                <td th:text="${user.firstName}">John</td>
                                <td th:text="${user.lastName}">Doe</td>
                                <td th:text="${user.email}">john.doe@example.com</td>
                                <td th:text="${user.phoneNumber}">123-456-7890</td>
                                <td th:text="${user.age}">New York, USA</td>
                                <td th:text="${user.roles}">User</td>
                                <td>
                                    <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                            data-bs-target="#actionsModal" data-bs-whatever="edit-button"
                                            th:data-id="${user.id}"
                                            th:data-first-name="${user.firstName}"
                                            th:data-last-name="${user.lastName}"
                                            th:data-email="${user.email}"
                                            th:data-phone-number="${user.phoneNumber}"
                                            th:data-age="${user.age}"
                                            th:data-roles="${#strings.arrayJoin(user.roles.![id], ',')}">Edit
                                    </button>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                            data-bs-target="#actionsModal" data-bs-whatever="delete-button"
                                            th:data-id="${user.id}"
                                            th:data-first-name="${user.firstName}"
                                            th:data-last-name="${user.lastName}"
                                            th:data-email="${user.email}"
                                            th:data-phone-number="${user.phoneNumber}"
                                            th:data-age="${user.age}"
                                            th:data-roles="${#strings.arrayJoin(user.roles.![id], ',')}">Delete
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Наполнение второй вкладки для добавления нового пользователя -->
                    <div class="tab-pane fade" id="add-user" role="tabpanel" aria-labelledby="add-user-tab">
                        <form th:action="@{'/admin/save'}" th:object="${newUser}" method="post" id="add-user-form">
                            <div class="mb-3">
                                <label for="firstName" class="form-label">Имя</label>
                                <input type="text" class="form-control" id="firstName" th:field="*{firstName}"
                                       placeholder="Ivan" required>
                            </div>
                            <div class="mb-3">
                                <label for="lastName" class="form-label">Фамилия</label>
                                <input type="text" class="form-control" id="lastName" th:field="*{lastName}"
                                       placeholder="Ivanov" required>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email (будет использован в качестве
                                    логина)</label>
                                <input type="email" class="form-control" id="email" th:field="*{email}"
                                       placeholder="example@example.com" required>
                            </div>
                            <div class="mb-3">
                                <label for="phoneNumber" class="form-label">Телефон</label>
                                <input type="text" class="form-control" id="phoneNumber" th:field="*{phoneNumber}"
                                       placeholder="+7(000)000-0000" required>
                            </div>
                            <div class="mb-3">
                                <label for="age" class="form-label">Возраст</label>
                                <input type="number" class="form-control" id="age" th:field="*{age}"
                                       placeholder="18" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Пароль</label>
                                <input type="password" class="form-control" id="password" th:field="*{password}"
                                       placeholder="password" required>
                            </div>
                            <div class="mb-3">
                                <label for="passwordConfirm" class="form-label">Подтверждение пароля</label>
                                <input type="password" class="form-control" id="passwordConfirm"
                                       th:field="*{passwordConfirm}"
                                       placeholder="password" required>
                                <div id="passwordError" class="text-danger" style="display: none">Пароли не
                                    совпадают!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="rolesSelect" class="form-label">Роли</label>
                                <select class="form-select" id="rolesSelect" name="rolesIds" multiple required>
                                    <option value="1">USER</option>
                                    <option value="2">ADMIN</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary" id="save-new-user-button">SAVE</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Вкладка обычного пользователя -->
            <div class="tab-pane fade" id="user-content" role="tabpanel" aria-labelledby="user-tab">
                <div class="container-fluid">
                    <table class="table table-bordered">
                        <thead>
                        <h1>User's information-page</h1>
                        <tr class="title-table">
                            <th colspan="7">Ваши данные:</th>
                        </tr>
                        <tr>
                            <th>Имя</th>
                            <th>Фамилия</th>
                            <th>Email</th>
                            <th>Телефон</th>
                            <th>Возраст</th>
                            <th>Роль</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:value="userTitle">
                            <td th:text="${userTitle.firstName}">John</td>
                            <td th:text="${userTitle.lastName}">Doe</td>
                            <td th:text="${userTitle.email}">john.doe@example.com</td>
                            <td th:text="${userTitle.phoneNumber}">123-456-7890</td>
                            <td th:text="${userTitle.age}">New York, USA</td>
                            <td th:text="${userTitle.roles}">User</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Модальные окна -->
    <div class="modal fade" id="actionsModal" tabindex="-1" aria-labelledby="modalEdit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEdit"> Edit user </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/admin/save_edit}" method="post" id="modalWindowAction">
                        <input type="hidden" name="id">
                        <input type="hidden" name="action" id="actionField" value="save">

                        <div class="mb-3">
                            <label for="editFirstName" class="form-label">Имя</label>
                            <input type="text" class="form-control" id="editFirstName" name="firstName" required>
                        </div>
                        <div class="mb-3">
                            <label for="editLastName" class="form-label">Фамилия</label>
                            <input type="text" class="form-control" id="editLastName" name="lastName" required>
                        </div>
                        <div class="mb-3">
                            <label for="editEmail" class="form-label">Email</label>
                            <input type="email" class="form-control" id="editEmail" name="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="editPhoneNumber" class="form-label">Телефон</label>
                            <input type="text" class="form-control" id="editPhoneNumber" name="phoneNumber"
                                   required>
                        </div>
                        <div class="mb-3">
                            <label for="editAge" class="form-label">Возраст</label>
                            <input type="number" class="form-control" id="editAge" name="age" required>
                        </div>
                        <div class="mb-3">
                            <label for="editPassword" class="form-label">Пароль</label>
                            <input type="password" class="form-control" id="editPassword" name="password"
                                   placeholder="password">
                        </div>
                        <div class="mb-3">
                            <label for="editPasswordConfirm" class="form-label">Подтверждение пароля</label>
                            <input type="password" class="form-control" id="editPasswordConfirm"
                                   name="passwordConfirm" placeholder="password" required>
                        </div>
                        <div class="mb-3">
                            <label for="editRolesSelect" class="form-label">Роли</label>
                            <select class="form-select" id="editRolesSelect" name="rolesIds" multiple required>
                                <option value="1">USER</option>
                                <option value="2">ADMIN</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="submitButton">SUBMIT</button>
                    <button type="submit" class="btn btn-primary" id="removeButton">DELETE</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/edit_user_modal.js"></script>
<script src="/password_confirm.js"></script>
</body>
</html>